bluprint.json
{
    "name": "Integration Gmail, OpenAI (ChatGPT, Sora, Whisper)",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "from": "",
                "size": {
                    "unit": "M",
                    "amount": null,
                    "criteria": "larger"
                },
                "limit": 5,
                "folder": "IMPORTANT",
                "format": "full",
                "subject": "",
                "criteria": "all",
                "markSeen": false,
                "filterType": "simpleSearch",
                "__IMTCONN__": 8075255,
                "excludeWords": "",
                "includeWords": "",
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "size": {
                            "nested": {
                                "unit": {
                                    "label": "MB (megabytes)"
                                },
                                "criteria": {
                                    "label": "Greater than"
                                }
                            }
                        },
                        "folder": {
                            "label": "Important"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "criteria": {
                            "label": "All messages"
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "new2 (2shuixian2@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "垃圾邮件过滤",
                "conditions": [
                    [
                        {
                            "a": "{{1.subject}}",
                            "b": "説明会",
                            "o": "text:contain"
                        }
                    ],
                    [
                        {
                            "a": "{{1.subject}}",
                            "b": "選考",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gemini-2.5-pro",
                "textPrompt": "你是一个精通日本职场和就活（求职）流程的智能秘书助理。请仔细阅读以下输入的邮件正文，并极其精准地提取出结构化的关键选考信息。\n\n当前年份是 2026 年。如果邮件中的日期没有写年份（例如“6月15日”），请自动补全为 2026 年。\n\n提取出以下字段。如果邮件中确实不包含某个字段，则该字段返回 null：\n1. company: 公司名称（必须去掉“株式会社”、“型枠”等前后缀，只留纯公司名，如：Hitachi）\n2. event_type: 事件类型（可选值：说明会 / ES截止 / 面接 / 内定 / 账号注册 / 拒信 / 其他）\n3. date: 活动时间、面试时间或截止时间。必须严格统一格式化为：YYYY-MM-DD HH:MM:SS（如 2026-06-15 14:00:00）。如果是全天截止日期，时间写 23:59:59。\n4. link: 选考、说明会或面试的独立 URL 链接（如 Zoom, Teams, Webex 链接，或者 MyPage 的直接登录/跳转链接）。\n5. summary: 一句话邮件核心摘要（简明扼要，说明接下来用户需要做什么）。\n\n警告：如果你的回复中包含json或这样的三个反引号符号，将视为严重错误。直接以 { 开头，以 } 结尾。\n\n以下是需要处理的邮件正文：{{1.fullTextBody}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 2.5 ProSpecialized in complex math, science reasoning, and analyzing large amounts of detailed information"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3.5-flash",
                                "gemini-3.1-pro-preview",
                                "gemini-3-flash-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{{replace(7.result; ; )}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": -4
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "google-calendar:createAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 8076140
                            },
                            "filter": {
                                "name": "说明会or面试",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.event_type}}",
                                            "b": "说明会",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{9.date}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{9.event_type}}",
                                            "b": "面接",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{9.date}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "end": "{{addHours(9.date; 1)}}",
                                "start": "{{9.date}}",
                                "select": "detail",
                                "summary": "{{ifempty(9.company; \"“未识别公司”\")}}{{ifempty(9.event_type; \"“事件”\")}}",
                                "calendar": "2shuixian2@gmail.com",
                                "location": "{{9.link}}",
                                "visibility": "default",
                                "allDayEvent": false,
                                "transparency": "opaque",
                                "conferenceDate": false,
                                "guestPermissions": {
                                    "guestsCanModify": false,
                                    "guestsCanInviteOthers": true,
                                    "guestsCanSeeOtherGuests": true
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "In Detail"
                                        },
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "2shuixian2@gmail.com (Primary Calendar)"
                                        },
                                        "attendees": {
                                            "mode": "chose"
                                        },
                                        "eventType": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "overrides": {
                                            "mode": "chose"
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        },
                                        "conferenceDate": {
                                            "mode": "chose",
                                            "collapsed": true
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "Google Calendar (2shuixian2@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create an Event",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "quick",
                                                "detail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "conferenceDate",
                                        "type": "boolean",
                                        "label": "Add Google Meet Video Conferencing",
                                        "required": true
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "displayName",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "email",
                                                    "label": "Email",
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attendee"
                                        },
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "time",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "eventType",
                                        "type": "select",
                                        "label": "Event Type",
                                        "validate": {
                                            "enum": [
                                                "outOfOffice",
                                                "focusTime"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestPermissions",
                                        "spec": [
                                            {
                                                "name": "guestsCanModify",
                                                "type": "boolean",
                                                "label": "Modify event",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanInviteOthers",
                                                "type": "boolean",
                                                "label": "Invite others",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanSeeOtherGuests",
                                                "type": "boolean",
                                                "label": "See guest list",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Guest Permissions"
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "notion:getAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8666300
                            },
                            "filter": null,
                            "mapper": {
                                "page": "https://app.notion.com/p/cc030a36b1bb41e0b8299be5a8d28d26?v=f82fb349cc4d4e9fa5f7fb9a2e46a672&source=copy_link"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "page": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion2"
                                            },
                                            "label": "选考看板 (2022-2023  )"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "page",
                                        "type": "select",
                                        "label": "Page ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Page ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created By"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited By"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            },
                                            {
                                                "name": "data_source_id",
                                                "type": "text",
                                                "label": "Data Source ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "in_trash",
                                        "type": "boolean",
                                        "label": "In Trash"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar URL"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "HREF"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "HREF"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar URL"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar URL"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "public_url",
                                        "type": "text",
                                        "label": "Public URL"
                                    },
                                    {
                                        "name": "request_id",
                                        "type": "text",
                                        "label": "Request ID"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
